{% extends 'actions.html.twig' %}


    {% block title %}
        <title>Product Order</title>
    {% endblock %}

    {% block table %}
     <div class="container mt-4">
        <h1> Кошик </h1>
            <div class="row mt-4">
              <br>
    <table class="table table-striped">
      <thead class="table-dark">
      <tr align="center">

        <th scope="col" width="300">Категорія</th>
        <th scope="col" width="450">Назва</th>
        <th scope="col" width="450">Опис</th>
        <th scope="col" width="450">Зображення</th>
        <th scope="col" width="450">Ціна за од</th>
        <th scope="col" width="100">Кількість</th>
         <th scope="col" width="100">Загальна ціна</th>
        <th scope="col" width="200"></th>
      </thead>
      <tbody>
     
       {% set sum = 0 %}
              {% for product in products %}  
        <tr align="center">
        <td>{{ product.product.category.name|striptags }}</td>
        <th scope="row">{{ product.product.name|striptags }}</th>
        <td>{{ product.product.description|striptags }}</td>
        <td>{{ product.product.image }}</td>
        <td>{{ product.product.price }}</td>
         {% set sum = sum + product.product.price %}
         {# {% for count in counts %}  #}
        {# <td>{{ count }}</td>
         {% endfor %}  #}
        <td>{{ product.product.price }}</td>
       <td></td>
     
        <div class="btn btn-lg">
        <td> <a button class="btn btn-outline-success" type="button" href="/main/basket/del/{{ product.id }}">Видалити з кошика</a> </td> 
        </div> 
            
      </tr>
      </tbody>
      {% endfor %} 
    </table>
    </div>
    <div align="right">
    <h4>Всього: {{ sum }} грн</h4>
    </div>
            <br>
             <div align="center">
            <a href="/main/order" class=" btn btn-outline-success">Оформити замовлення</a>
            <a href="/main/basket/drop" class="btn btn-outline-success">Видалити корзину</a>
            <a href="/main/categories" class="btn btn-outline-success">Додати товар</a>
             </div>
            <br>
{% endblock %}