{% extends 'category.html.twig' %}

{% block title %}
    <title>Display fruits</title>
{% endblock %}

{% block table %}
  <br>
    <h3 align="center" style="color:Green"> Фрукти </h3>
  <br>

    <table class="table table-striped">
      <thead class="table-dark">
      <tr align="center">
        <th scope="col" width="300">Категорія</th>
        <th scope="col" width="450">Назва</th>
        <th scope="col" width="450">Опис</th>
        <th scope="col" width="450">Зображення</th>
        <th scope="col" width="450">Ціна</th>
        <th scope="col" width="200"></th>
        <th scope="col" width="200"></th>
      </thead>
     {% for product in products %}
            {% if product.category.name == 'фрукти' %}
      <tbody>
      <tr align="center">
        <th scope="row">{{ product.category.name }}</th>
        <td>{{ product.name }}</td>
        <td>{{ product.description }}</td>
        <td>{{ product.image }}</td>
        <td>{{ product.price }}</td>
        <td> <a button class="btn btn-outline-success" type="button" href="/main/{{ product.id }}">Переглянути</a> </td> 
        <td> <a button class="btn btn-outline-success" type="button" href="/main/product_order/{{ product.id }}">Купити</a> </td> 
      </tr>
      </tbody>
         {% endif %}
      {% endfor %}
    </table>
{% endblock %}