{% extends 'actions.html.twig' %}

{% block title %}
    <title>Display product</title>
{% endblock %}

{% block table %}
  <br>
    <h3 align="center" style="color:Green"> Продукти </h3>
  <br>
    <table class="table table-striped">
      <thead class="table-dark">
      <tr align="center">
        <th scope="col" width="450">Категорія</th>
        <th scope="col" width="450">Назва</th>
        <th scope="col" width="450">Опис</th>
        <th scope="col" width="450">Зображення</th>
        <th scope="col" width="450">Ціна</th>
        <th scope="col" width="150"></th>
      </thead>
      {% for product in products %}
      <tbody>
      <tr>
        <th scope="row">{{ product.category }}</th>
        <td>{{ product.name }}</td>
        <td>{{ product.description }}</td>
        <td>{{ product.image }}</td>
        <td>{{ product.price }}</td>
         <td> <a button class="btn btn-outline-success" type="button" href="#">Покласти в кошик</a> </td> 
      </tr>
      </tbody>
      {% endfor %}
    </table>
{% endblock %}